agent/N8N-workflows/instagram-automation-hub.json
{
  "name": "Instagram Automation Hub",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "8f7e1c2a-3b4d-4e5f-a6b7-c8d9e0f1a2b3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "content": "## Instagram Automation Hub\n\nThis is the central coordination workflow that:\n- Monitors all sub-workflows\n- Routes tasks to appropriate workflows\n- Aggregates errors and performance metrics\n- Sends notifications for critical issues\n\nSub-workflows:\n1. Content Scheduling\n2. Engagement Monitoring\n3. Analytics Pipeline\n4. UGC Collection\n5. Sales Attribution\n6. Customer Service",
        "height": 250,
        "width": 300
      },
      "id": "sticky-note-1",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [100, 50]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 450]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-1",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [450, 375]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workflow_status",
              "value": "active"
            },
            {
              "name": "timestamp",
              "value": "={{$now.toISO()}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Set Status Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [650, 375]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-1",
                    "leftValue": "={{ $json.trigger_type }}",
                    "rightValue": "content_schedule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Content Schedule"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-2",
                    "leftValue": "={{ $json.trigger_type }}",
                    "rightValue": "engagement_check",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Engagement Check"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-3",
                    "leftValue": "={{ $json.trigger_type }}",
                    "rightValue": "analytics_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Analytics Report"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-1",
      "name": "Route to Workflow",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 375]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/content-scheduler",
        "authentication": "none",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-1",
      "name": "Trigger Content Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 250]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/engagement-monitor",
        "authentication": "none",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-2",
      "name": "Trigger Engagement Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 375]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/analytics-pipeline",
        "authentication": "none",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "http-3",
      "name": "Trigger Analytics Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "sheet",
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "Workflow_Logs!A:E",
        "options": {
          "valueInputOption": "USER_ENTERED"
        },
        "values": [
          [
            "={{ $json.timestamp }}",
            "={{ $json.workflow_status }}",
            "={{ $json.trigger_type }}",
            "={{ $json.response_status }}",
            "={{ $json.error_message || 'None' }}"
          ]
        ]
      },
      "id": "sheets-1",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1350, 375],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "channel": "#instagram-automation",
        "text": "=== Instagram Hub Status ===\nTimestamp: {{ $json.timestamp }}\nStatus: {{ $json.workflow_status }}\nLast Action: {{ $json.trigger_type }}\nErrors: {{ $json.error_count || 0 }}",
        "otherOptions": {}
      },
      "id": "slack-1",
      "name": "Send Status to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1550, 375],
      "credentials": {
        "slackApi": {
          "id": "2",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Error Handling\n\nAll HTTP requests should have error handling:\n- Retry logic for rate limits\n- Fallback notifications\n- Error logging to sheets\n- Slack alerts for critical failures",
        "height": 150,
        "width": 250
      },
      "id": "sticky-note-2",
      "name": "Error Handling Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1100, 50]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Set Status Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Data": {
      "main": [
        [
          {
            "node": "Route to Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Workflow": {
      "main": [
        [
          {
            "node": "Trigger Content Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Engagement Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Analytics Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Content Workflow": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Engagement Workflow": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Analytics Workflow": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Send Status to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01234567-89ab-cdef-0123-456789abcdef",
  "meta": {
    "templateId": "instagram-automation-hub"
  },
  "id": "workflow-hub-001",
  "tags": []
}